<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>遷移前</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <header>
        <h1>遷移します↓</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('user.test') }}">ページ遷移</a></li>
        </ul>
    </nav>

    <h3>今日</h3>
    {% set skin = avatar_skin_days_ago(0) %}
    {% include "avatar.html" %}
    <h3>昨日</h3>
    {% set skin = avatar_skin_days_ago(1) %}
    {% include "avatar.html" %}
    <h3>20日前</h3>
    {% set skin = avatar_skin_days_ago(20) %}
    {% include "avatar.html" %}
</body>
</html>