<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>設定</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>設定画面</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">ホームへ戻る</a></li>
    </ul>
</body>

<form method="post" action="{{ url_for('avatar.change_threshold') }}">
  <label>進化基準</label>
  <select name="threshold_id">
    {% for t in threshold_sets %}
      <option value="{{ t.id }}"
        {% if t.is_active %}selected{% endif %}>
        {{ t.name }}（{{ t.min_1 }}, {{ t.min_2 }}, {{ t.min_3 }}）
      </option>
    {% endfor %}
  </select>
  <button type="submit">変更</button>
</form>

<form action="{{ url_for('avatar.update_recent_avatars') }}" method="post">
    <button type="submit">
        直近7日間のアバターを更新
    </button>
</form>

</html>